/* <--- Fonts ---> */
@font-face {
    font-family: 'Telegrafico';   /* used by main title */
    font-style: normal;
    font-weight: normal;    
    src: local('Telegrafico'), url('styles/telegrafico.woff') format('woff');
}
/* <--- Style ---> */
* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1230px; /* includes 15px left/right padding */
}
/* <--- TITLE --- > */
.site-header-title {
    margin-top: 34px;
}
.site-header-title h1 {
    text-align: center;
    font-family: 'Telegrafico', sans-serif;
    font-size: 58px;
    font-weight: normal;
    line-height: 58px;
    color:#111;
    padding-bottom: 4px;
}
.site-header-title h1 a {
    text-decoration: none;
    color: #111;
}
.site-header-sub-title {
    margin-bottom: 40px;
}
.site-header-sub-title h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;    
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    color:#676767;
}
/* <--- SUB_NAV ---> */
.site-header-sub-nav {
    margin-top: 17px;
    margin-bottom: 17px;
}
.site-header-sub-nav-left h2 {
    color: #4f4f4f;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1;
}
.site-header-sub-nav-right ul {
    text-align: right;
}
.site-header-sub-nav-right li {
    display: inline-block;
    line-height: 16px;
    font-size: 16px;
    color: #444;
    font-weight: 400;
}
.site-header-sub-nav-right li a {
    color: #444;
}
/* <--- SITE NAV ---> */
.site-header-nav-left ul {
    list-style-type: none
}
.site-header-nav-left li {
    display: inline-block;
}
.site-header-nav-left a {
    display: block;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #444;
    text-decoration: none;
}
.site-header-nav-left li:first-child a {
    padding-left: 0;
}
/* <--- SITE SEARCH --> */
form.site-header-nav-right-search {    
    width: 215px;
    position: relative;
    float: right;
}
.site-header-nav-right-search input {
    height: 30px;
    width: 100%;
    border: 1px solid #676767;
    font-size: 14px;
    line-height: 30px;
    color: #4f4f4f; // rgba(75,75,75,.6);
    padding: 0;
    text-transform: //uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-align: left;
    margin: 15px 0;
    text-indent: 10px;
}
.site-header-nav-right-search button{    
    background: none;
    border: none;
    border-left: 1px solid #676767;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 18px;
    right: 0px;
    bottom: 15px;
    color: #444;
}
/* <!--- FOOTER ---> */
.site-footer {
    margin-top: 30px;
    margin-bottom: 60px;
    color: #7b7b7b;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    font-family: 'Sintony', sans-serif;
}
.site-footer span {
    font-family: sans-serif;
}
/* <!--- ROUTER SINGLE PAGE ---> */
.hidden{                    
    position: absolute;
    left: -9999px;
    top: -9999px;    
    visibility: hidden;
}